<div class="middle">
  <ul class="menus">
    <li class="item" id="profile">
      <a href="#profile"><i class="fas fa-user"></i>Profile</a>
      <div class="sub-menus">
        <a [routerLink]="['voirprofile']">Voir</a>
        <a [routerLink]="['listeprofile']" [queryParams]="{ type: 'admsin' }"
          >Liste</a
        >
      </div>
    </li>
    <li class="item" id="messages">
      <a href="#messages"><i class="fas fa-envelope"></i>Messages</a>
      <div class="sub-menus">
        <a [routerLink]="['voirmsg']">voir</a>
        <a [routerLink]="['listemsg']">Liste</a>
      </div>
    </li>

    <li class="item">
      <a href="#"><i class="fas fa-sign-out-alt"></i>Logout</a>
    </li>
  </ul>
</div>
<div [align]="'center'">
  <router-outlet />
</div>
